<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hehetieba</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property>-->

		<!-- SQL dialect -->
		<!--<property name="dialect">org.hibernate.dialect.HSQLDialect</property>-->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>		

		<!-- Enable Hibernate's automatic session context management -->
		<!-- <property name="current_session_context_class">thread</property>-->

		<!-- Disable the second-level cache  -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- 
		validate  	只检查结构
		update  	检查结构，更新或者创建表
		create 		每次启动hibernate时，都要创建表
		create-drop 启动hibernate时创建表，当hibernate关闭时，删除表
		-->
		<property name="hbm2ddl.auto">update</property>
		<property name="format_sql">true</property>
		
		<mapping resource="hehetieba/domain/User.hbm.xml"/>
		<mapping resource="hehetieba/domain/UserTieba.hbm.xml"/>
		<mapping resource="hehetieba/domain/Tieba.hbm.xml"/>
		<mapping resource="hehetieba/domain/TieTitle.hbm.xml"/>
		<mapping resource="hehetieba/domain/Tie.hbm.xml"/>
		<mapping resource="hehetieba/domain/Reply.hbm.xml"/>
		<mapping resource="hehetieba/domain/TiebaApply.hbm.xml"/>
		<mapping resource="hehetieba/domain/TiebaOwnerApply.hbm.xml"/>
		<mapping resource="hehetieba/domain/Manager.hbm.xml"/>
		<mapping resource="hehetieba/domain/ApplyOwnerResult.hbm.xml"/>

	</session-factory>
</hibernate-configuration>