<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean id="tieAction" class="hehetieba.action.TieAction" scope="prototype">
		<property name="iTieService">
			<ref bean="tieService"/>
		</property>
	</bean>

	<bean id="tieService" class="hehetieba.service.impl.TieService">
		<property name="iTieDao">
			<ref bean="tieDao"/>
		</property>
		<property name="iUserDao">
			<ref bean="userDao"/>
		</property>
		<property name="iTieTitleDao">
			<ref bean="tieTitleDao"/>
		</property>
	</bean>

	<bean id="tieDao" class="hehetieba.dao.impl.TieDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
</beans>
